<footer class="footer">
    <div class="footer-container">
      <div class="footer-about">
        <h2><img src="/Caps_Data/Smartphone.png", class="footerphone">CapsLOQ</h2>
        <p>
          Revolutionizing mobile technology with fully customizable
          smartphones. Build your perfect device from the ground up
          with cutting-edge components and personalized design
           options.
        </p>
        <div class="social-icons">
          <a href="#"><img src="/Caps_Data/Twitter.png" alt="Twitter"></a>
          <a href="#"><img src="/Caps_Data/Facebook.png" alt="Facebook"></a>
          <a href="#"><img src="/Caps_Data/Instagram.png" alt="Insta"></a>
        </div>
      </div>

      <div class="footer-links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/customize">Customize Phone</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/support_help">Support</a></li>
          <li><a href="/support_help">FAQ</a></li>
        </ul>
      </div>

      <div class="footer-contact">
        <h4>Contact Us</h4>
        <div class="info">
          <div class="footericon">
            <img src="/Caps_Data/Mail.png">
          </div>
          <p>Email: <a href="mailto:capsloq.ai@gmail.com">capsloq.ai@gmail.com</a></p>
        </div>
        <div class="info">
          <div class="footericon">
            <img src="/Caps_Data/Phone.png">
          </div>
          <p>Phone: <a href="tel:+911234567890">+91-123-4567890</a></p>
        </div>
        <div class="info">
          <div class="footericon">
            <img src="/Caps_Data/location_on.png">
          </div>
          <p>Address: <a href="https://www.google.com/maps/place/BML+Munjal+University+(BMU)/@28.2476758,76.811052,17z" target="_blank">CapsLOQ, BML Munjal University, Gurugram, Haryana</a></p>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-inline">
        <span>© 2025 CapsLOQ. All rights reserved.</span>
        <div class="policy-links">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
          <a href="#">Cookie Policy</a>
        </div>
      </div>
    </div>
  </footer>