    .about{
        text-align: center;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 80px;
        border: 2px solid #D9D9D9;
        background-color: #D9D9D9;
        font-size: 32px;
        font-family: "Open Sans";
        color: #364153;
        font-weight: 700;
    }
    