* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Open Sans", sans-serif;
      position: absolute;
      overflow-x: hidden;
    }

    header.Navigation_panel {
      background-color: #F9F9F9;
      height: 62px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 200px;
    }

    /* Logo + Name */
    .logo-section {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-right: 35px;
    }

    .CapsLOQimage {
      width: 56px;
      height: 56px;
      border-radius: 18.43%;
    }

    .Logoname {
      color: #101828;
      font-size: 24px;
      font-weight: 550;
      font-family: "Open Sans", sans-serif;
    }
    nav{
        background-color: white;
        width: 475px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    /* Navigation Links */
    nav ul {
      list-style: none;
      display: flex;
      gap: 34px;
      align-items: center;
    }

    nav ul li a {
      text-decoration: none;
      color: #364153;
      font-size: 17px;
      transition: color 0.5 ease;
    }
    nav ul li a:hover {
      color: #155dfc;
    }
    /* Search Bar */
    .search {
      margin-left: 25px;
      display: flex;
      align-items: center;
      background-color: #D9D9D9;
      border-radius: 6px;
      padding: 4px 50px 4px 9px;
    }
    .search input {
      border: none;
      outline: none;
      font-size: 15px;
      padding-left: 4px;
      background-color: transparent;
    }
    /* Buttons */
    .actions {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
    }

    .actions button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 9px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .actions img {
      width: 28.62px;
      height: 28px;
    }
    .menu img{
        width: 45px;
        height: 40.77px;
    }
    .cartbutton img{
        margin-left: 25px;
        width:40.89px;
        height:36.96px;
        margin-right: 5px;
    }
    .login{
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 10px;
        padding: 3px 0px 3px 0px;
        
        background: #fff;             /* flat background */
        border: 1px solid #C6C6C6 !important;    /*  border for the whole button */
        border-radius: 6px;

        cursor: pointer;
        font-family: "Roboto Serif", serif;
        font-size: 17px;
        color: #101828;

    }
    .login a{
      text-decoration: none;
      color: black;
    }
    .login a:hover{
      color: #fff;
    }
    .login:hover {
    background-color: #000; /* black background */
    color: #fff; /* white text */
    border-color: #000; /* optional: border matches background */
    }
    .login:hover a{
      color: #fff;
    }
    .login:hover img {
    filter: brightness(0) invert(1); /* makes icon white */
    }
    .about{
        text-align: center;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 80px;
        border: 2px solid #D9D9D9;
        background-color: #D9D9D9;
        font-size: 32px;
        font-family: "Open Sans";
        color: #364153;
        font-weight: 700;
    }
    .footer{
      width: 89%;
      height: 505px;
      background-color: #01022B;
      color:white;
      padding-top: 45px;
      padding-left: 105px;
    }
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      /* max-width: 1200px; */
      margin: auto;
    }
    .footerphone{
      margin-right: 20px;
    }
    .footer-about,
    .footer-links,
    .footer-contact {
      flex: 1 1 300px;
    }

    .footer-about h2 {
      font-size: 35px;
      margin-bottom: 20px;
      align-items: center;
    }
    .footer-about h2 img{
      align-items: center;
      justify-content: center;
      display:inline;
      width: 50px;
      height: 50px;
    }
    .footer-about p {
      font-size: 14px;
      line-height: 1.6;
      color: #99A1AF;
      font-size: 24px;
      font-weight: 400;
      font-family: "Inter";
      margin-bottom: 30px;
    }

    .social-icons a {
      margin-right: 10px;
      margin-top: 40px;
      font-size: 20px;
      color: #f0f0f0;
      transition: color 0.3s;
    }

    .social-icons a:hover {
      color: #0055ff9f;
      filter: brightness(1) invert(0.5);
    }

    .footer-links h3,
    .footer-contact h3 {
      margin-bottom: 10px;
      margin-left: 190px;
      font-size: 32px;
      font-weight: 700;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
    }
    .footer-contact h4 {
      margin-bottom: 10px;
      font-size: 32px;
      font-weight: 700;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
    }

    .footer-links ul {
      list-style: none;
      margin-left: 200px;
    }

    .footer-links ul li {
      margin-bottom: 8px;
      margin-top: 22px;
    }
    .footer-links ul li a,
    .footer-contact a {
      color: #99A1AF;
      text-decoration: none;
      font-size: 21px;
      font-family: "Inter";
      transition: color 0.3s;
    }

    .footer-links ul li a:hover,
    .footer-contact a:hover {
      color: #2668ea;
    }

    .footer-contact p {
      font-size: 14px;
      margin-bottom: 8px;
      margin-top: 24px;
      font-size: 24px;
      font-weight: 400;
      font-family: "Inter";
      color: #99A1AF;
    }

    .footer-bottom {
      border-top: 2px solid #99A1AF;
      margin-right: 55px;
      margin-top: 30px;
      padding-top: 20px;
      text-align: center;
      align-items: center;
      font-size: 14px;
    }

    .policy-links a {
      margin: 0 10px;
      color: #f0f0f0;
      text-decoration: none;
    }

    .policy-links a:hover {
      color: #0055FF;
    }

    @media (max-width: 768px) {
      .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .footer-about,
      .footer-links,
      .footer-contact {
      flex: 1 1 100%;
        }
  
      .social-icons {
        justify-content: center;
      }
    }
    .info{
      display: flex;
      align-items: center;
      margin-right: 15px;
    }
    .footericon{
      margin-right: 20px;
      height: 50px;
    }

    .footer-inline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    .footer-inline span {
      color: #f0f0f0;
      font-size: 18px;
    }