* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Open Sans", sans-serif;
      position: absolute;
      overflow-x: hidden;
    }

    header.Navigation_panel {
      background-color: #F9F9F9;
      height: 62px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 200px;
    }

    /* Logo + Name */
    .logo-section {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-right: 35px;
    }

    .CapsLOQimage {
      width: 56px;
      height: 56px;
      border-radius: 18.43%;
    }

    .Logoname {
      color: #101828;
      font-size: 24px;
      font-weight: 550;
      font-family: "Open Sans", sans-serif;
    }
    nav{
        background-color: white;
        width: 475px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    /* Navigation Links */
    nav ul {
      list-style: none;
      display: flex;
      gap: 34px;
      align-items: center;
    }

    nav ul li a {
      text-decoration: none;
      color: #364153;
      font-size: 17px;
      transition: color 0.5 ease;
    }
    nav ul li a:hover {
      color: #155dfc;
    }
    /* Search Bar */
    .search {
      margin-left: 25px;
      display: flex;
      align-items: center;
      background-color: #D9D9D9;
      border-radius: 6px;
      padding: 4px 50px 4px 9px;
    }
    .search input {
      border: none;
      outline: none;
      font-size: 15px;
      padding-left: 4px;
      background-color: transparent;
    }
    /* Buttons */
    .actions {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
    }

    .actions button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 9px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .actions img {
      width: 28.62px;
      height: 28px;
    }
    .menu img{
        width: 45px;
        height: 40.77px;
    }
    .cartbutton img{
        margin-left: 25px;
        width:40.89px;
        height:36.96px;
        margin-right: 5px;
    }
    .login{
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 10px;
        padding: 3px 0px 3px 0px;
        
        background: #fff;             /* flat background */
        border: 1px solid #C6C6C6 !important;    /*  border for the whole button */
        border-radius: 6px;

        cursor: pointer;
        font-family: "Roboto Serif", serif;
        font-size: 17px;
        color: #101828;

    }
    .login a{
      text-decoration: none;
      color: black;
    }
    .login a:hover{
      color: #fff;
    }
    .login:hover {
    background-color: #000; /* black background */
    color: #fff; /* white text */
    border-color: #000; /* optional: border matches background */
    }
    .login:hover a{
      color: #fff;
    }
    .login:hover img {
    filter: brightness(0) invert(1); /* makes icon white */
    }

    .head2{
      display: flex;
      /* justify-content:space-between; */
      align-items: center;
      gap: 280px;
    }
    .BigLOGO img{
      margin-left: 400px;
      margin-top: 20px;
      width: 300px;
      height: 61.714px;
    }
    .tagline{
      text-align: right;
      margin-top: 10px;
    }
    .tagline .grey{
      color: #C0C1C4;
      font-size: 42px;
      font-weight: 700;
    }
    .tagline .blue{
      color: #51A2FF;
      font-size: 42px;
      font-weight: 700;
    }


    .Customizingspecs{
      display: flex;
      margin-left: 100px;
      /* justify-content: center; */
      margin-bottom: 20px;
      /* margin-top: 20px; */
    }
    .button-group {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
    }

    /* Hide the real radio buttons */
    .button-group input[type="radio"] {
      display: none;
    }

    .btn {
      padding: 12px 26px;
      border: 1px solid #BFB3B3;
      border-radius: 8px;
      background-color: #ffffff;
      color: #000;
      font-size: 17px;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      cursor:pointer;
      transition: all 0.3s ease;
      user-select: none;
    }

    .btn:hover {
      border-color: #000;
      filter: brightness(1) invert(1);
    }

    /* When the radio is checked, style its label */
    input[type="radio"]:checked + label {
      background-color: #000;
      color: #fff;
      border-color: #000;
      font-size: 17px;
      font-weight: 600;
      border: 1px solid #BFB3B3;
      padding: 12px 26px ;
    }



    .CustomFrame{
      display: flex;
      gap: 40px;
      margin: 30px;
    }
    .Customspecs{
      margin-left: 100px;
      border: 6px solid #BFB3B3;
      border-radius: 70px;
      padding: 30px;
      width: 900px;
      height: 470px
    }
    .Customspecs h2{
      font-size: 34px;
      color: #4a5565;
      margin-bottom: 20px;
      width: 880px;
    }
    .Customspecs input[type="radio"] {
      display: none;
    }
    .Customspecs .option{
      display: flex;
    }
    .option{
      display: block;
      background-color: white;
      border: 4px solid #C0C0C0;
      border-radius: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 50px;
      color: #333941;
      font-size: 22px;
      font-weight: 600;
      font-family: "Open Sans";
    }
    .option:hover{
      border: 4px solid #DADBED;
    }
    input[type="radio"]:checked + .option{
      background-color: #000000;
      color: #fff;
      border-color: #C0C0C0;
      font-size: 22px;
      font-weight: 600;
      border: 4px solid #DADBED;
      padding-left: 50px;
    }
    .circle {
      width: 24px;           
      height: 24px;
      background-color: #9FA6D6;  /* circle color */
      border-radius: 50%;     
      display: inline-flex;
      color: white;
      font-size: 20px;
      font-family: Arial, sans-serif;
      margin-right: 30px;
    }


    .CustomFrame2{
      border: 8px solid #DADBED;
      border-radius: 70px;
      width: 420px;
      height: 990px;
    }
    .Deviceimage{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Deviceimage img{
      height: 300px;
      width: 200px;
      border-radius: 10px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .Specificationtitle{
      margin-left: 25px;
      margin-bottom: 20px;
      color: #0A0A0A;
      font-size: 23px;
      font-family: "Open Sans";
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    }
    .Specificationdetails{
      display: flex;
      justify-content: space-between;
    }
    .Spec{
      width: 110px;
      height: 30px;
      margin-left: 25px;
      flex-direction: column;
      color: #4A5565;
      font-size: 20px;
      font-family: "Open Sans";
      font-weight: 400;
      word-wrap: break-word;
    }
    .SpecChosen{
      text-align: right;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      display: flex;
      color: #0A0A0A;
      font-size: 20px;
      font-family: "Open Sans";
    }
    .specseparatorline{
      align-items: center;
      justify-content: center;
      border-top: 2px solid #D9D9D9;
      margin-top: 15px;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 20px;
    }
    .Price{
      display: flex;
      justify-content: space-between;
    }
    .TotalPriceTitle{
      color: #0A0A0A;
      font-size: 28px;
      font-family: "Open Sans";
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-left: 25px;
      width: 200px;
    }
    .CalculatedPrice{
      color: #0055FF;
      font-size: 32px;
      font-family: "Open Sans";
      margin-right: 25px;
    }
    .Addtocart{
      width: 248px;
      height: 45px; 
      border-radius: 9.20px;
      background-color: black;
      color: white;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-top: 15px;
      margin-left: 75px;
    }
    .Addtocart:hover{
      background-color: #0055FF;
      color: white;
      cursor: pointer;
      font-size: 20px;
      border: 1px solid #C6C6C6 !important;
      transition: 0.3s;
    }
    .Saveconfig{
      width: 248px;
      height: 45px; 
      border-radius: 9.20px;
      background-color: white;
      color: #0A0A0A;
      border: 1px solid #BFB3B3;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 550;
      text-align: center;
      margin-top: 15px;
      margin-left: 75px;
    }
    .Saveconfig:hover{
      background-color: #0055FF;
      color: white;
      cursor: pointer;
      transition: 0.5s;
      border: 1px solid #C6C6C6 !important;
    }
    .footer{
      width: 89%;
      height: 505px;
      background-color: #01022B;
      color:white;
      padding-top: 45px;
      padding-left: 105px;
    }
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      /* max-width: 1200px; */
      margin: auto;
    }
    .footerphone{
      margin-right: 20px;
    }
    .footer-about,
    .footer-links,
    .footer-contact {
      flex: 1 1 300px;
    }

    .footer-about h2 {
      font-size: 35px;
      margin-bottom: 20px;
      align-items: center;
    }
    .footer-about h2 img{
      align-items: center;
      justify-content: center;
      display:inline;
      width: 50px;
      height: 50px;
    }
    .footer-about p {
      font-size: 14px;
      line-height: 1.6;
      color: #99A1AF;
      font-size: 24px;
      font-weight: 400;
      font-family: "Inter";
      margin-bottom: 30px;
    }

    .social-icons a {
      margin-right: 10px;
      margin-top: 40px;
      font-size: 20px;
      color: #f0f0f0;
      transition: color 0.3s;
    }

    .social-icons a:hover {
      color: #0055ff9f;
      filter: brightness(1) invert(0.5);
    }

    .footer-links h3,
    .footer-contact h3 {
      margin-bottom: 10px;
      margin-left: 190px;
      font-size: 32px;
      font-weight: 700;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
    }
    .footer-contact h4 {
      margin-bottom: 10px;
      font-size: 32px;
      font-weight: 700;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
    }

    .footer-links ul {
      list-style: none;
      margin-left: 200px;
    }

    .footer-links ul li {
      margin-bottom: 8px;
      margin-top: 22px;
    }
    .footer-links ul li a,
    .footer-contact a {
      color: #99A1AF;
      text-decoration: none;
      font-size: 21px;
      font-family: "Inter";
      transition: color 0.3s;
    }

    .footer-links ul li a:hover,
    .footer-contact a:hover {
      color: #2668ea;
    }

    .footer-contact p {
      font-size: 14px;
      margin-bottom: 8px;
      margin-top: 24px;
      font-size: 24px;
      font-weight: 400;
      font-family: "Inter";
      color: #99A1AF;
    }

    .footer-bottom {
      border-top: 2px solid #99A1AF;
      margin-right: 55px;
      margin-top: 30px;
      padding-top: 20px;
      text-align: center;
      align-items: center;
      font-size: 14px;
    }

    .policy-links a {
      margin: 0 10px;
      color: #f0f0f0;
      text-decoration: none;
    }

    .policy-links a:hover {
      color: #0055FF;
    }

    @media (max-width: 768px) {
      .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .footer-about,
      .footer-links,
      .footer-contact {
      flex: 1 1 100%;
        }
  
      .social-icons {
        justify-content: center;
      }
    }
    .info{
      display: flex;
      align-items: center;
      margin-right: 15px;
    }
    .footericon{
      margin-right: 20px;
      height: 50px;
    }

    .footer-inline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    .footer-inline span {
      color: #f0f0f0;
      font-size: 18px;
    }