* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Open Sans", sans-serif;
      position: absolute;
      overflow-x: hidden;
      padding-top: 62px;
    }

    header.Navigation_panel {
      background-color: #F9F9F9;
      height: 62px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 200px;
      border-bottom: 2px solid #00000010;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    /* Logo + Name */
    .logo-section {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-right: 35px;
    }

    .CapsLOQimage {
      width: 56px;
      height: 56px;
      border-radius: 18.43%;
    }

    .Logoname {
      color: #101828;
      font-size: 24px;
      font-weight: 550;
      font-family: "Open Sans", sans-serif;
    }
    nav{
        background-color: white;
        width: 500px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    /* Navigation Links */
    nav ul {
      list-style: none;
      display: flex;
      gap: 34px;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      padding: 30px;
    }

    nav ul li a {
      text-decoration: none;
      color: #364153;
      font-size: 17px;
      transition: color 0.5 ease;
    }
    nav ul li a:hover {
      color: #155dfc;
    }
    /* Search Bar */
    .search {
      margin-left: 25px;
      display: flex;
      align-items: center;
      background-color: #D9D9D9;
      border-radius: 6px;
      padding: 4px 50px 4px 9px;
    }
    .search input {
      border: none;
      outline: none;
      font-size: 15px;
      padding-left: 4px;
      background-color: transparent;
    }
    /* Buttons */
    .actions {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
    }

    .actions button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 9px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .actions img {
      width: 28.62px;
      height: 28px;
    }
    .menu img{
        width: 45px;
        height: 40.77px;
    }
    .cartbutton img{
        margin-left: 25px;
        width:40.89px;
        height:36.96px;
        margin-right: 5px;
    }
    .login{
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 10px;
        padding: 3px 0px 3px 0px;
        
        background: #fff;             /* flat background */
        border: 1px solid #C6C6C6 !important;    /*  border for the whole button */
        border-radius: 6px;

        cursor: pointer;
        font-family: "Roboto Serif", serif;
        font-size: 17px;
        color: #101828;
    }
    .login a{
      text-decoration: none;
      color: black;
    }
    .login a:hover{
      color: #fff;
    }
    .login:hover {
    background-color: #000; /* black background */
    color: #fff; /* white text */
    border-color: #000; /* optional: border matches background */
    }
    .login:hover a{
      color: #fff;
    }
    .login:hover img {
    filter: brightness(0) invert(1); /* makes icon white */
    }

    .Intro{
      background-color: #F9F9F9;
      width: 100%;
      display: flex;
      position: absolute;
      overflow-x: hidden;
      align-items: center;
    }
    .Intro img{
      margin-top: 25px;
      margin-left: 38px;
      margin-bottom: 18px;
      margin-right: 54px;
      width: 320px;
      height: 312px;
      border-radius: 1%;
    }
    .Need1{
      padding-top: 95px;
      font-size: 22px;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
      color: #505588;
      line-height: 0.8;
    }
    .intrologoname{
      font-family: "Plus Jakarta Sans";
      font-weight: 700;
      font-size: 72px;
      padding-left: 13px;
      background: url('/Caps_Data/Logoback1.jpg') repeat;
      background-position: 100% 100%;
      background-size:contain;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
    .smartcustomintrobutton {
      margin-left: 75px;
      margin-bottom: 40px;
    }

    .smartcustomintrobutton a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 18px 32px;
      margin-left: 10px;
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      color: #fff;
      border-radius: 10px;
      background: linear-gradient(90deg, #0d1321 50%, #155DFC 100%);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-size: 200%;
      background-position: right center;
      transition: all 0.6s ease-in;
    }
    
    .smartcustomintrobutton a:hover {
      transform: translateY(-2px);
      background: linear-gradient(90deg, #155DFC 0%, #0d1321 90%);
      background-position: right center;
    }
    .introtag{
      font-size: 48px;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
      color:#1C1E8E72 !important;
      margin-left: 145px;
    }
    .introtag2{
      font-size: 48px;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
      color:#51A2FF !important;
      text-align: right;
      margin-left: 683px;
    }


    .Feature{
      background-color: #261C8E30;
      width: 97%;
      height: 590px;
      margin-top: 390px;
      margin-left: 25px;
      margin-right: 22px;
      margin-bottom: 38px;
      border-radius: 20px;
      padding: 1%;
    }
    .features-grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      column-gap: 110px;
      row-gap: 60px;
      margin-left: 60px;
      margin-right: 60px;
      margin-top: 18px;
      margin-bottom: 30px;
      }

  .feature-card {
    background: #fff;
    border-radius: 22px;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 24px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 14px rgba(0,0,0,0.15);
  }

  .icon-circle {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    border-radius: 50%;
    background-color: #e9f2ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-circle img {
    width: 47px;
    height: 47px;
    object-fit: contain;
  }

  .feature-card h3 {
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #101828;
    margin: 10px 0;
  }

  .feature-card p {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #4A5565;
    line-height: 1.5;
  }

  .why{
    width: 100%;
    height: 240px;
    margin-top: 20px;
    background-color: #F9F9F9;
    align-items: center;
    text-align: center;
    overflow-x: hidden;    
  }
  .why1{
    font-family: "Open Sans", sans-serif;
    font-size: 37px;
    font-weight: 700;
    color: #0055FF;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .why2{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #101828;
  }

  .Featuredphone{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
  .Featuredphonetitle{
    font-weight: 700;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    color: #101828;  
    padding-bottom: 50px;  
  }
  .Featurebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
    .button-group {
      display: flex;
      gap: 35px;
    }

    /* Hide the real radio buttons */
    .button-group input[type="radio"] {
      display: none;
    }

    .btn {
      padding: 15px 35px;
      border: 1px solid #BFB3B3;
      border-radius: 10px;
      background-color: #ffffff;
      color: #000;
      font-size: 17px;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      cursor:pointer;
      transition: all 0.3s ease;
      user-select: none;
    }

    .btn:hover {
      border-color: #000;
      filter: brightness(1) invert(1);
    }

    /* When the radio is checked, style its label */
    input[type="radio"]:checked + label {
      background-color: #000;
      color: #fff;
      border-color: #000;
      font-size: 17px;
      font-weight: 600;
      border: 1px solid #BFB3B3;
      padding: 14px 40px ;
    }
 

    .Displayphone{
      width: 85%;
      max-width: 1500px;
      padding: 20px 34px;
      border-radius: 18px;
      /* margin-bottom: 29px; */
      margin: 0 auto 29px auto;
      display: flex;
      align-items: center;
      background-color: #999ae0a1;
      overflow: hidden;
      height: 360px;
      justify-content: center;
    }
    .Phonesbackground{
      /* white-space: nowrap; */
      align-items: center;
      /* width: 100%;*/
      display: flex;
      gap: 17px;
      overflow: hidden;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      background-color: #003ffbd0 !important;
      border-radius: 20px;
      padding-right: 20px;
      height: 320px; 
    }
    .phonecard{
      flex: 0 0 450px;
      height: 270px;
      background: #F9F9F9;
      border-radius: 18px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      padding: 14px;
      display: flex;
      align-items: center;
      margin-left: 17px;
    }
    .phonecard img {
      width: 168px;
      height: 240px;
      border-radius: 18px;
      margin-right: 25px;
    }
    .phonecard-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .phonecard-title {
      font-size: 30px;
      font-weight: 700;
      color: #273E6C;
      margin-bottom: 8px;
    }
    .phonecard-details {
      font-size: 14px;
      font-weight: 600;
      color: #605C5C;
      line-height: 1.7;
    }
    .phonerating {
      display: flex;
      align-items: center;
      gap: 4px;
      /* margin: 12px 0; */
    }
    .star {
      color: #E8DD06;
      font-size: 28px;
    }
    .phoneto-cart {
      background: white;
      border: 1px solid #BFB3B3;
      border-radius: 10px;
      padding: 8px 20px;
      font-size: 17px;
      font-family: "Open Sans";
      font-weight: 600;
      cursor: pointer;
      align-self: flex-start;
      transition: 0.3s;
      margin-left: 85px;
    }
    .phoneto-cart:hover {
      border: 1px solid #BFB3B3;      
      filter:brightness(1) invert(1);
    }
    

    .Discover{
      font-size: 33px;
      font-weight: 700;
      color: #4A5565;
      text-align: center;
      margin-bottom: 40px;
    }

    .steps{
      width: 100%;
      height: 535px;
      background-color: #F9F9F9;
    }
    .stepstitle{
      margin-left: 1120px;
      margin-top: 30px;
      padding-top: 30px;
      font-size: 40px;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
      background: linear-gradient(90deg, #313E59 0%, #155DFC 72%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;         
      color: transparent;
    }
    .stepstitle1{
      color: #0055FF;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
      font-size: 38px;
      text-align: center;
    }
    .steptitle2 {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: 1600px;
      margin-top: 35px;
      gap: 40px;
    }
    .steptitle3 {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: 1600px;
      /* margin-top: 15px; */
      margin-bottom: 60px;
      gap: 40px;
    }
    .circle {
      width: 80px;
      height: 80px;
      margin: 0 auto 15px;
      border-radius: 50%;
      border: 1px solid #d9d9d9;
      background: rgba(217, 217, 217, 0.41);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      font-weight: 700;
      color: #155dfc;
    }
    .steppoint{
      display: flex;
    }
    .steppoint2{
      display: flex;
    }
    .steppoint:nth-child(2){
      margin-top: 50px;
    }
    .steppoint:nth-child(3){
      margin-top: 20px;
    }
    .steppoint2:nth-child(1){
      margin-top: 60px;
      margin-left: 50px;
    }
    .steppoint2:nth-child(2){
      margin-top: 20px;
      margin-left: 20px;
    }
    .steppointh {
      font-size: 24px;
      font-weight: 700;
      color: #3895ff;
      margin-left: 4px;
    }
    
    .steppointp {
      margin-left: 4px;
      font-size: 18px;
      color: #333941;
      line-height: 1.4;
      text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    }
   

    .Ready{
      background-color: #1C398E;
      height: 360px;
    }
    .Ready1{
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 37px;
      color: white;
      padding-top: 66px;
    }
    .Ready2{
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 26px;
      color: #DBEAFE;
      text-align: center;
      padding-top: 47px;
    }
    .a{
      text-decoration: none;
    }
    .Ready3{
      align-items: center;
      text-align: center;
      justify-content: center;
      margin-top: 30px;
    }
    .Ready3 a{
      align-items: center;
      text-align: center;
      justify-content: center;
      display: inline-flex;
      text-decoration: none;
      background-color: #ffffff;
      width: 350px;
      padding-top: 5px;
      padding-bottom: 5px;
      height: 54px;
      font-size: 23px;
      font-weight: 450;
      font-family: "Open Sans", sans-serif;
      color: #1C398E;
      border-radius: 6px;
      border: none;
    }
    .Ready3 a:hover{
      color: #0055FF;
      font-weight: 460;
      border: 2px solid white;
    }
    .arrow{
      margin-left: 20px;
      font-size: 38px; 
      font-weight: 600 !important;  
      line-height: 1.8;
    }

    .footer{
      width: 100%;
      height: 505px;
      background-color: #01022B;
      color:white;
      padding-top: 45px;
      padding-left: 105px;
    }
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      /* max-width: 1200px; */
      margin: auto;
    }
    .footerphone{
      margin-right: 20px;
    }
    .footer-about,
    .footer-links,
    .footer-contact {
      flex: 1 1 300px;
    }

    .footer-about h2 {
      font-size: 35px;
      margin-bottom: 20px;
      align-items: center;
    }
    .footer-about h2 img{
      align-items: center;
      justify-content: center;
      display:inline;
      width: 50px;
      height: 50px;
    }
    .footer-about p {
      font-size: 14px;
      line-height: 1.6;
      color: #99A1AF;
      font-size: 24px;
      font-weight: 400;
      font-family: "Inter";
      margin-bottom: 30px;
    }

    .social-icons a {
      margin-right: 10px;
      margin-top: 40px;
      font-size: 20px;
      color: #f0f0f0;
      transition: color 0.3s;
    }

    .social-icons a:hover {
      color: #0055ff9f;
      filter: brightness(1) invert(0.5);
    }

    .footer-links h3,
    .footer-contact h3 {
      margin-bottom: 10px;
      margin-left: 190px;
      font-size: 32px;
      font-weight: 700;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
    }
    .footer-contact h4 {
      margin-bottom: 10px;
      font-size: 32px;
      font-weight: 700;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
    }

    .footer-links ul {
      list-style: none;
      margin-left: 200px;
    }

    .footer-links ul li {
      margin-bottom: 8px;
      margin-top: 22px;
    }
    .footer-links ul li a,
    .footer-contact a {
      color: #99A1AF;
      text-decoration: none;
      font-size: 21px;
      font-family: "Inter";
      transition: color 0.3s;
    }

    .footer-links ul li a:hover,
    .footer-contact a:hover {
      color: #2668ea;
    }

    .footer-contact p {
      font-size: 14px;
      margin-bottom: 8px;
      margin-top: 24px;
      font-size: 24px;
      font-weight: 400;
      font-family: "Inter";
      color: #99A1AF;
    }

    .footer-bottom {
      border-top: 2px solid #99A1AF;
      margin-right: 55px;
      margin-top: 30px;
      padding-top: 20px;
      text-align: center;
      align-items: center;
      font-size: 14px;
    }

    .policy-links a {
      margin: 0 10px;
      color: #f0f0f0;
      text-decoration: none;
    }

    .policy-links a:hover {
      color: #0055FF;
    }

    @media (max-width: 768px) {
      .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .footer-about,
      .footer-links,
      .footer-contact {
      flex: 1 1 100%;
        }
  
      .social-icons {
        justify-content: center;
      }
    }
    .info{
      display: flex;
      align-items: center;
      margin-right: 15px;
    }
    .footericon{
      margin-right: 20px;
      height: 50px;
    }

    .footer-inline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    .footer-inline span {
      color: #f0f0f0;
      font-size: 18px;
    }





