<%- include('partials/header') %>

<link rel="stylesheet" href="/about.css">

<div class="about">
    This is a concept site developed by Students of Bml Munjal University, India<br>
    for the Web Development project<br><br>
    Developed by Jatin Kumar Yadav, Krishna Goel and Jagrat Agarwal
  </div>
<%- include('partials/footer') %>